target
classes
bin
*.log
dist
node_modules

.csv

# Eclipse
.classpath
.project
.settings
.metadata

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
.idea/*
build
out
generated
MANIFEST.MF

#gradle
gradle
.gradle


